<div class="d-flex justify-content-between position-relative mx-3 mx-lg-5 mx-md-4 py-3 ">
  <div class="dropdown">
    <button class="btn bg-white dropdown-toggle dropdown-btn my-lg-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Popular
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item text-danger" href="#">Popular</a></li>
      <li><a class="dropdown-item " href="#">New & Noteworthy</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item " href="#">Marketplace</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <a class="btn bg-white dropdown-toggle dropdown-btn my-lg-5" data-bs-toggle="collapse" href="#filter-menu" role="button" aria-expanded="false" aria-controls="filter-menu"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
      <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>
      Filters
    </a>
  </div>
</div>