<div class="header">
  <video class="w-100 bg-video" autoplay loop muted>
    <source class="video-opacity" src="https://cdn.dribbble.com/uploads/39421/original/963b4f8739cbdf86ca3f3a23245efd18.mp4?1657824985" type="video/mp4"/>
  </video>  
      <div class="container upper-bar justify-content-center overflow-hidden">
      <ul class="d-flex flex-row list-unstyled justify-content-between my-lg-5 my-sm-5">
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Discover</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Animation</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Branding</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">lllustration</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Mobile</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Print</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill text-nowrap">Product Design</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill">Typography</button>
        </li>
        <li class="bar-item">
          <button type="button" class="btn p-lg-3 info-btn rounded-pill text-nowrap">Web Design</button>
        </li>
      </ul>
    </div>
    <div class="text-center text-white mx-lg-auto">
      <h1 class="h2 fw-bold">Explore the world's leading<br>design portfolios</h1>
    </div>
    <div class="text-center text-white mt-2 mx-lg-5">
      <p class="h6 text-center mt-4">Millions of designers and agencies around the world showcase their portfolio work</p>
      <p class="h6 text-center">on Dribbble - the home to the world's best design and creative professionals.</p>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="search position-relative">
            <a class="position-absolute m-2" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="gray" role="img" class="icon icon-18 fill-current">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
              </svg></a>
            <input class="form-control form-control-lg me-2 rounded-pill search-bar fs-6" type="search" placeholder="     search.." aria-label="Search">
          </div>
        </div>
      </div>
    </div>
    <div class=" container my-5">
      <ul class="justify-content-center d-flex flex-row flex-wrap list-unstyled item-font gap-2">
        <li class="navitem-radius">
          <a class="nav-link text-white" href="#">Tranding searches</a>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill text-nowrap">landing page</button>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill">ios</button>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill">food</button>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill text-nowrap">landing page</button>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill">uxdesign</button>
        </li>
        <li class="navitem-radius">
          <button type="button" class="btn btn-outline-light rounded-pill">app design</button>
        </li>
      </ul>
    </div>
</div>